.DS_Store
node_modules/
dist/
hel_dist/
hel_proxy/
hel_proxy_es/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
